body {
    font-family: 'Roboto', sans-serif, verdana;
    font-size: 16px;
}

#gradientCon {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    box-sizing: border-box;
}

#gradient {
    background: linear-gradient(to right, #b7422d 0%, #d18b4f 10%, #e0ca82 20%, #aac382 30%, #87af7b 40%, #4e9682 50%, #488c94 60%, #487394 70%, #785fb1 80%, #a35680 90%, #b7422d 100%) repeat;
    background-size: 75% 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 400vw;
    opacity: 0.8;
}

.main-column {
    margin: auto;
    width: 80%;
    min-width: 45em;
}

.content {
    margin-top: 1em;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 1px;
    display: block;
    overflow: hidden;
}

.column {
    float: left;
    width: 50%;
    height: 34em;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}

#tree, #result {
    background-color: transparent;
}

#tree {
    height: 34em;
}

#graph {
    height: 34em;
}

#editor {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    resize: none;
}

#info {
}

.hint {
    font-size: 1em;
    position: absolute;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 3px;
}

.right {
    right: 3px;
}

.btn {
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    padding: 2px 8px;
    border: 1px solid #808080;
    float: left;
    color: white;
    margin-right: 1%;
    width: 49.5%;
    margin-bottom: 3px;
    transition: 0.2s;
    box-sizing: border-box;
}

.green {
    background-color: #598f5b;
}

.green:hover {
    background-color: #71ae73;
}

.green:active {
    background-color: #128f10;
}

.red {
    background-color: #b14848;
}

.red:hover {
    background-color: #d05151;
}

.red:active {
    background-color: #b12220;
}

.header {
    display: block;
    margin-top: 0.66em;
    font-size: 1.5em;
    text-align: center;
    color: white !important;
    width: 100%;
}

.header:hover, .header:active {
    color: white;
}

.index {
    margin-top: 4em;
    font-size: 2em;
}

.algorithms {
    margin: 1em auto auto;
    display: block;
    overflow: hidden;
    width: 60%;
}

.algorithm {
    float: left;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 15px;
    display: block;
    overflow: hidden;
    width: 45%;
    text-align: center;
    box-sizing: border-box;
    margin-right: 5%;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1.2em;
}

.algorithm:hover {
    background-color: #e0e0e0;
}

.algorithm:active {
    background-color: #707070;
    color: white;
}